.development_container {
  width: 100vw;
  height: auto;
  min-height: 50vh;
  display: flex;

  align-items: center;
  justify-content: center;
}
.illistrations {
  width: 100%;
}
.illistration_container {
  width: 30%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.description_dev {
  width: 30%;
  position: relative;
  line-height: 1.9;
  font-size: large;
  font-weight: 510;
  left: 15%;
  bottom: 50%;
}
